@model OdeToFood.ViewModels.HomeIndexViewModel

@{
    ViewData["Title"] = "Home";
}

<h1>@Model.CurrentMessage</h1>
<table>
    <tr>
        @foreach(var restaurant in Model.Restaurants)
        {
            <tr>
                <td>@restaurant.Name</td>
                <td>@restaurant.Id</td>
            </tr>
        }
    </tr>
</table>

